.main>* {
    padding: 10px;
}

.photo {
    display: flex;
    justify-content: space-around;
}

.photo > img {
    width: 100%;
    min-width: ;
    border: 1vw solid rgb(255, 255, 255);
}

#wrapper {
    display: grid;
}

@media screen and (min-width: 1201px) {
    #wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 701px) and (max-width: 1200px) {
    #wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 700px) {
    #wrapper {
        grid-template-columns: 1fr;
    }
}